/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

.search-form {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 32px;
}

.search-text {
  /* box-sizing: border-box; */
  width: 272px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
  flex-shrink: 0;
  border: 1px solid #808080;
  outline: transparent;

  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.search-text:hover {
  border-color: #000;
}
.search-text:focus {
  border-color: #4e75ff;
}

.search-text::placeholder {
  font-family: inherit;
  color: #808080;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.btn {
  height: 40px;
  padding: 8px 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}

.search-btn {
  min-width: 91px;
}

.load-more-btn {
  min-width: 125px;
  margin: 32px auto 0 auto;
  display: flex;
}

.loading-message {
  margin: 0;
  text-align: center;
}

.gallery {
  display: flex;
  width: 1128px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-link {
  display: block;
  width: 360px;
  /* height: 200px; */
  flex-shrink: 0;
}

.gallery-image {
  width: 100%;
  height: 200px;
}

.property-list {
  display: flex;
  width: 100%;
}

.property-item {
  flex-basis: calc(100% / 4);
}

.property-title {
  text-align: center;
  font-weight: 700;
  font-size: 13px;
}

.property-value {
  text-align: center;
  font-size: 13px;
}

.loader {
  width: 16px;
  height: 16px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 500ms linear infinite;
  margin-right: 15px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#izi-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* margin-left: 14px; */
  margin-top: 6px;
  border: none;
  background-color: transparent;
}

/*  */
:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 24px;*/
  font-weight: 400;
  letter-spacing: 0.04em;

  color: #2e2f42;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
